
body {
  background: #000;
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
	padding:0;
	margin:0;
	overflow:hidden;
}

p {
  color: #eee;
}

a {
    color: #bbb;
}

a:link {
    color: #bbb;
    text-decoration:  none;
} 

a:visited {
    color: #ddd;
}

a:hover {
    color: #fff;
}

img.logo {
    vertical-align:text-top;
}

#panel {
    margin: 1px;
    padding: 6px;
    position: absolute;
    pointer-events: none;
}

#panel a {
    pointer-events: auto;
}

#text {
  font-size: 24pt;
  margin-top: 140px;
}

#controlsTextArea
{
    margin: 0 0 0 0;
    font-size: 10px;
    font-weight: 200;
    color: #999;
    line-height: 14px;
}

#menu
{ 
  z-index: 80;
}

#menu ul
{
  padding-left: 20px;
}

#menu li
{
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
}

#controls
{
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 100;
}

